
.titre_page {
  display: flex;
  justify-content: center;
  font-size: x-large;
  margin-top: 5%;
}

.logo {
  padding-left: 43%;
}

.resume {
  margin-top: 5%;
  font-size: larger;
  font-weight: bold;
  padding-left: 7%;
  padding-right: 7%;
}

.personnes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.personnes p {
  width: 260px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 41px;
  line-height: 20px;
  height: 66px;
  padding-top: 30px;
  margin-right: 14px;
}

.titre_compte {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: larger;
}

.nos_comptes {
  margin-left: 29%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.reseaux {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

.lien_jeu {
  min-height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  100% {
    background-position: 100% 19%;
  }
}

.button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
  background: #fff;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s;
}

.button:hover {
  color: #000; 
}

.button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff9900,
    #33cc33,
    #0099ff,
    #9900cc,
    #ff0000
  );
  background-size: 600% 600%;
  animation: rainbow 1.5s linear infinite;
  z-index: -1;
}


.explanation {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 5px;
  background-color: rgba(39, 40, 44, 0.5);
  color: #fff;
  margin: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}

.explanation h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #fec106;
}

.explanationp {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #fff;
  margin: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(https://www.10wallpaper.com/wallpaper/2560x1600/1603/Orange_red_blue_background-Design_Thmem_HD_Wallpaper_2560x1600.jpg);
  background-size: cover;
  padding-top: 16%;
  padding-bottom: 22%;
  margin-bottom: 100px;
}

.home h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 0px 0px 15px black;
}

.home p {
  color: wheat;
  text-shadow: 0px 0px 5px black;
}
